@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import "_responsive.css";

:root {
    --purple: #8D39FA;
    --purple-hover: #7b1bf6;
    --dark-grey: #222222;
    --grey: #535353;
    --light-grey: #ececec;
}

main {
    font-family: 'SF Pro Display', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.0022em;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.12em;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.1em;
}

h4 {
    color: var(--grey);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    font-variant: small-caps;
}

h5 {
    color: var(--grey);
    font-size: 24px;
    line-height: 28.64px;;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.0007em;
}

small {
    color: var(--grey);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

section:not(#header) {
    margin-bottom: 250px;
}

.text-purple {
    color: var(--purple)!important;
}

.text-grey {
    color: var(--grey)!important;
}
